#*#
*.TMP
*.a
*.al
*.aps
*.bak
*.la
*.lo
*.ncb
*.nupkg
*.o
*.psess
*.pub
*.pyc
*.pyo
*.rej
*.resharper
*.sdf
*.snk
*.so
*.so.[0-9]*
*.suo
*.user
*.vsp
*.vsps
*~
.#*
.*.swp
.DS_Store
.libs
.metadata
/packages
Ankh.Load
Bin
Debug
Obj
Release
TestResults
_*
bin
obj